.logodiv1{
  background: url("imgass/logo_1.svg") no-repeat;
}
.logodiv2{
  background: url("imgass/logo_2.svg") no-repeat;
}
.A1{
  background: url("imgass/buttonA_1.svg") no-repeat;
}
.A2{
  background: url("imgass/buttonA_2.svg") no-repeat;
}
.B1{
  background: url("imgass/buttonB_1.svg") no-repeat;
}
.B2{
  background: url("imgass/buttonB_2.svg") no-repeat;
}
.C1{
  background: url("imgass/buttonC_1.svg") no-repeat;
}
.C2{
  background: url("imgass/buttonC_2.svg") no-repeat;
}
.D1{
  background: url("imgass/buttonD_1.svg") no-repeat;
}
.D2{
  background: url("imgass/buttonD_2.svg") no-repeat;
}
.E1{
  background: url("imgass/buttonE_1.svg") no-repeat;
}
.E2{
  background: url("imgass/buttonE_2.svg") no-repeat;
}
.F1{
  background: url("imgass/buttonF_1.svg") no-repeat;
}
.F2{
  background: url("imgass/buttonF_2.svg") no-repeat;
}
.G1{
  background: url("imgass/buttonG_1.svg") no-repeat;
}
.G2{
  background: url("imgass/buttonG_2.svg") no-repeat;
}
.H1{
  background: url("imgass/buttonH_1.svg") no-repeat;
}
.H2{
  background: url("imgass/buttonH_2.svg") no-repeat;
}
.I1{
  background: url("imgass/buttonI_1.svg") no-repeat;
}
.I2{
  background: url("imgass/buttonI_2.svg") no-repeat;
}
.J1{
  background: url("imgass/buttonJ_1.svg") no-repeat;
}
.J2{
  background: url("imgass/buttonJ_2.svg") no-repeat;
}
.b01{
  background: url("imgass/button0_1.svg") no-repeat;
}
.b02{
  background: url("imgass/button0_2.svg") no-repeat;
}
.b11{
  background: url("imgass/button1_1.svg") no-repeat;
}
.b12{
  background: url("imgass/button1_2.svg") no-repeat;
}
.b21{
  background: url("imgass/button2_1.svg") no-repeat;
}
.b22{
  background: url("imgass/button2_2.svg") no-repeat;
}
.b31{
  background: url("imgass/button3_1.svg") no-repeat;
}
.b32{
  background: url("imgass/button3_2.svg") no-repeat;
}
.b41{
  background: url("imgass/button4_1.svg") no-repeat;
}
.b42{
  background: url("imgass/button4_2.svg") no-repeat;
}
.b51{
  background: url("imgass/button5_1.svg") no-repeat;
}
.b52{
  background: url("imgass/button5_2.svg") no-repeat;
}
.b61{
  background: url("imgass/button6_1.svg") no-repeat;
}
.b62{
  background: url("imgass/button6_2.svg") no-repeat;
}
.b71{
  background: url("imgass/button7_1.svg") no-repeat;
}
.b72{
  background: url("imgass/button7_2.svg") no-repeat;
}
.b81{
  background: url("imgass/button8_1.svg") no-repeat;
}
.b82{
  background: url("imgass/button8_2.svg") no-repeat;
}
.b91{
  background: url("imgass/button9_1.svg") no-repeat;
}
.b92{
  background: url("imgass/button9_2.svg") no-repeat;
}
.return1{
  background: url("imgass/return_1.svg") no-repeat;
}
.return2{
  background: url("imgass/return_2.svg") no-repeat;
}
.nextp1{
  background: url("imgass/buttonnextpag_1.svg") no-repeat;
}
.nextp2{
  background: url("imgass/buttonnextpag_2.svg") no-repeat;
}
.nextc1{
  background: url("imgass/buttonnextcap_1.svg") no-repeat;
}
.nextc2{
  background: url("imgass/buttonnextcap_2.svg") no-repeat;
}
.prevp1{
  background: url("imgass/buttonprevpag_1.svg") no-repeat;
}
.prevp2{
  background: url("imgass/buttonprevpag_2.svg") no-repeat;
}
.prevc1{
  background: url("imgass/buttonprevcap_1.svg") no-repeat;
}
.prevc2{
  background: url("imgass/buttonprevcap_2.svg") no-repeat;
}
.help1{
  background: url("imgass/help_1.svg") no-repeat;
}
.help2{
  background: url("imgass/help_2.svg") no-repeat;
}
