.logodiv {
  background: url("imgass/logo_1.svg") no-repeat;
}
.logodiv:hover {
  background: url("imgass/logo_2.svg") no-repeat;
}
.buttonA {
  background: url("imgass/buttonA_1.svg") no-repeat;
}
.buttonA:hover {
  background: url("imgass/buttonA_2.svg") no-repeat;
}
.buttonB {
  background: url("imgass/buttonB_1.svg") no-repeat;
}
.buttonB:hover {
  background: url("imgass/buttonB_2.svg") no-repeat;
}
.buttonC {
  background: url("imgass/buttonC_1.svg") no-repeat;
}
.buttonC:hover {
  background: url("imgass/buttonC_2.svg") no-repeat;
}
.buttonD {
  background: url("imgass/buttonD_1.svg") no-repeat;
}
.buttonD:hover {
  background: url("imgass/buttonD_2.svg") no-repeat;
}
.buttonE {
  background: url("imgass/buttonE_1.svg") no-repeat;
}
.buttonE:hover {
  background: url("imgass/buttonE_2.svg") no-repeat;
}
.buttonF {
  background: url("imgass/buttonF_1.svg") no-repeat;
}
.buttonF:hover {
  background: url("imgass/buttonF_2.svg") no-repeat;
}
.buttonG {
  background: url("imgass/buttonG_1.svg") no-repeat;
}
.buttonG:hover {
  background: url("imgass/buttonG_2.svg") no-repeat;
}
.buttonH {
  background: url("imgass/buttonH_1.svg") no-repeat;
}
.buttonH:hover {
  background: url("imgass/buttonH_2.svg") no-repeat;
}
.buttonI {
  background: url("imgass/buttonI_1.svg") no-repeat;
}
.buttonI:hover {
  background: url("imgass/buttonI_2.svg") no-repeat;
}
.buttonJ {
  background: url("imgass/buttonJ_1.svg") no-repeat;
}
.buttonJ:hover {
  background: url("imgass/buttonJ_2.svg") no-repeat;
}
.button1 {
  background: url("imgass/button1_1.svg") no-repeat;
}
.button1:hover {
  background: url("imgass/button1_2.svg") no-repeat;
}
.button2 {
  background: url("imgass/button2_1.svg") no-repeat;
}
.button2:hover {
  background: url("imgass/button2_2.svg") no-repeat;
}
.button3 {
  background: url("imgass/button3_1.svg") no-repeat;
}
.button3:hover {
  background: url("imgass/button3_2.svg") no-repeat;
}
.button4 {
  background: url("imgass/button4_1.svg") no-repeat;
}
.button4:hover {
  background: url("imgass/button4_2.svg") no-repeat;
}
.button5 {
  background: url("imgass/button5_1.svg") no-repeat;
}
.button5:hover {
  background: url("imgass/button5_2.svg") no-repeat;
}
.button6 {
  background: url("imgass/button6_1.svg") no-repeat;
}
.button6:hover {
  background: url("imgass/button6_2.svg") no-repeat;
}
.button7 {
  background: url("imgass/button7_1.svg") no-repeat;
}
.button7:hover {
  background: url("imgass/button7_2.svg") no-repeat;
}
.button8 {
  background: url("imgass/button8_1.svg") no-repeat;
}
.button8:hover {
  background: url("imgass/button8_2.svg") no-repeat;
}
.button9 {
  background: url("imgass/button9_1.svg") no-repeat;
}
.button9:hover {
  background: url("imgass/button9_2.svg") no-repeat;
}
.button0 {
  background: url("imgass/button0_1.svg") no-repeat;
}
.button0:hover {
  background: url("imgass/button0_2.svg") no-repeat;
}
.buttonprev1 {
  background: url("imgass/buttonprev1_1.svg") no-repeat;
}
.buttonprev1:hover {
  background: url("imgass/buttonprev1_2.svg") no-repeat;
}
.buttonnext1 {
  background: url("imgass/buttonnext1_1.svg") no-repeat;
}
.buttonnext1:hover {
  background: url("imgass/buttonnext1_2.svg") no-repeat;
}
.selectcpt {
  background: url("imgass/selectcpt_1.svg") no-repeat;
}
.selectcpt:hover {
  background: url("imgass/selectcpt_2.svg") no-repeat;
}
.buttonnextcap {
  background: url("imgass/buttonnextcap_1.svg") no-repeat;
}
.buttonnextcap:hover {
  background: url("imgass/buttonnextcap_2.svg") no-repeat;
}
.buttonnextpag {
  background: url("imgass/buttonnextpag_1.svg") no-repeat;
}
.buttonnextpag:hover {
  background: url("imgass/buttonnextpag_2.svg") no-repeat;
}
.buttonprevcap {
  background: url("imgass/buttonprevcap_1.svg") no-repeat;
}
.buttonprevcap:hover {
  background: url("imgass/buttonprevcap_2.svg") no-repeat;
}
.buttonprevpag {
  background: url("imgass/buttonprevpag_1.svg") no-repeat;
}
.buttonprevpag:hover {
  background: url("imgass/buttonprevpag_2.svg") no-repeat;
}
.return {
  background: url("imgass/return_1.svg") no-repeat;
}
.return:hover {
  background: url("imgass/return_2.svg") no-repeat;
}
.help {
  background: url("imgass/help_1.svg") no-repeat;
}
.help:hover {
  background: url("imgass/help_2.svg") no-repeat;
}
.buttonread{
  background: url("imgass/buttonread_1.svg") no-repeat;
}
.buttonread:hover{
  background: url("imgass/buttonread_2.svg") no-repeat;
}
