@font-face { font-family: Aldrich Regular; src: url('fonts/Aldrich/Aldrich-Regular.ttf'); }
@font-face { font-family: Impact; src: url('fonts/impact.ttf'); }

body {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, sans-serif;
    shape-rendering: crispEdges;
    color:#ffffff;
    overflow:hidden;
    align-items: center;
}

h1 {
  color:#1aff87;
  font-family: Verdana, sans-serif;
  position:relative;
  text-align:left;
}

a {
  text-decoration: underline;
  text-decoration-color: #1aff87;
}

p {
  font-family: Verdana, sans-serif;
  color:#ffffff;
  text-align: left;
  text-indent: 6%;
  font-size: 100%;
}

em {
  color: #1aff87;
}

.container {
  height:89vh;
  width:120vh;
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  padding:2px;
  box-sizing: border-box;
}

.copyright{
  z-index: 4;
  height:3vh;
  width:48vh;
  position:fixed;
  top: 97%;
  left:50%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.copyright p{
  text-indent: 0pt;
}

.left-container {
  z-index: 1;
  height:100%;
  width:33.333%;
  box-sizing: border-box;
}

.right-container {
  height:100%;
  width:66.667%;
  box-sizing: border-box;
  padding-top:5.5%;
  padding-left:1%;
  z-index: 1;
}

.logodivsize {
  width:125%;
  height:27%;
}

.L1 {
  position:relative;
  height:60%;
  width:100%;
  box-sizing: border-box;
  padding:7%;
}

.calc-pad-up {
  height:2.116%;
  width:100%;
}

.calc-W-screen {
  height:15%;
  width:100%;
  border: 2px solid #1aff87;
  box-sizing: border-box;
  font-size:6vh;
  font-family: 'Aldrich Regular';
  align-items: center;
  text-align: center;
  background-color: black;
  color: #88BB88;
}

.calc-row1 {
  padding-top: 2.5%;
  height:16.7%;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.calc-row2 {
  margin-top: 2%;
  height:15.2%;
  width:100%;
  display:flex;
  justify-content:flex-start;
  align-items: center;
}

.backbutt{
  z-index: 1;
}

.frontbutt{
  z-index: 2;
  width:100%;
  height:100%;
  opacity:0%;
  transition: opacity 0.15s;
  cursor: pointer;
}

.frontbutt:hover{
  opacity:100%;
}

.bigbutt {
  position:relative;
  left: 0px;
  box-sizing: border-box;
  height:100%;
  width:23%;
}

.smallbutt {
  position:relative;
  left: 0px;
  box-sizing: border-box;
  height:100%;
  width: 17.2%;
  margin-right: 0.5%;
}

.longbutt {
  position:relative;
  left: 0px;
  box-sizing: border-box;
  height:100%;
  width: 47%;
}

.buttlink {
  height:100%;
  width:100%;
  display:grid;
}

.R1 {
  position: absolute;
  z-index:1;
  width: 66.666%;
  aspect-ratio: 740/700;
  bottom:0%;
}

.iframe {
  height:100%;
  width:100%;
  border: none;
  overflow:hidden;
}

.varcontentbrd{
  height:100%;
  width:100%;
  border:2px solid #1aff87;
  background: linear-gradient(0deg, #1aff87 -50%, #000000 20%);
}

.WIPvarcontent {
  height:100%;
  width:100%;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;
  padding: 5%;
  overflow-x:hidden;
  overflow-y: auto;
}

.makethatshitspinson{
  -webkit-animation:spin 18s linear infinite;
  -moz-animation:spin 18s linear infinite;
  animation:spin 18s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
